<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-img routerLink="/index" style="height: 40px;" src="../../assets/img/home-amazon-logo.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-img src="../../assets/img/pngwave.png"></ion-img>
    </ion-item>
   
    <ion-card-header>
      <ion-card-title>SORRY</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <h1>We couldn't find that page</h1>
      Try searching or go to <a href=''>Amazon's home page.</a> 
    </ion-card-content>
    
  
  </ion-card>  
</ion-content>
