.icon-prime{
    width:53px;
    height:15px;
    background-position:-83.3px -104px;
    background-image: url(../../../assets/img/AmazonUIIcon-beacon_light.png);
    vertical-align:baseline;
}

.icon{
    display: inline-block;
    background-image: url(../../../assets/img/AmazonUIIcon-sprite.png);
}

.icon-medium-star-4{
    width: 95px;
    height: 21px;
    background-position: -24px -395px;
}
 
.icon-medium-star-4-5{
    width: 95px;
    height: 21px;
    background-position: -205px -395px;
}

.icon-medium-star-5{
    width: 95px;
    height: 21px;
    background-position: -5px -395px;
}



.user-thumbnail-avatar{
    margin-right: 0;
}

.user-review-content{
    margin:8px 0 0 20px;
    
}