<ion-content>

  <ion-item color="none" lines="none">
    <h1>Your Account</h1>
  </ion-item>
  <ion-item color="none" lines="none">
    <h3>Orders</h3>
  </ion-item>
  
  <ion-card>
    <ion-list>
      <ion-item detail>
        Your orders  
      </ion-item>
      <ion-item detail>
        Subscribe & Save  
      </ion-item>
    </ion-list>
  </ion-card>


  <ion-item color="none" lines="none">
    <h3>Account settings</h3>
  </ion-item>

  <ion-card>
    <ion-list>
      <ion-item detail>
        1-Click setting  
      </ion-item>
      <ion-item detail routerLink="/index/sign-in">
        Login with Amazon 
      </ion-item>
      <ion-item detail>
        Manage Prime membership 
      </ion-item>
      <ion-item detail>
        Your Membership & Subscriptions
      </ion-item>
      <ion-item detail>
        Content and devices
      </ion-item>
      <ion-item detail>
        Manage addresses
      </ion-item>
      <ion-item detail routerLink="/index/sign-in">
        Login & security
      </ion-item>
      <ion-item detail>
        Review your purchases
      </ion-item>
    </ion-list>
  </ion-card>

  
  <ion-item color="none" lines="none">
    <h3>Amazon Wallet</h3>
  </ion-item>

  <ion-card>
    <ion-list>
      <ion-item detail>
        Manage payment options  
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-item color="none" lines="none">
    <h3>Message centre</h3>
  </ion-item>

  <ion-card>
    <ion-list>
      <ion-item detail>
        Your messages 
      </ion-item>
      <ion-item detail>
        Alexa shopping notifications 
      </ion-item>
    </ion-list>
  </ion-card>


  <ion-item color="none" lines="none">
    <h3>Personalised content</h3>
  </ion-item>

  <ion-card>
    <ion-list>
      <ion-item detail>
        Your Recently Viewed Items 
      </ion-item>
      <ion-item detail>
        Profile 
      </ion-item>
      <ion-item detail>
        Advertising Preferences
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>