.icon-prime{
    width:53px;
    height:15px;
    background-position:-83.3px -104px;
    background-image: url(../../../assets/img/AmazonUIIcon-beacon_light.png);
    vertical-align:baseline;
}

.icon{
    display: inline-block;
    background-image: url(../../../assets/img/AmazonUIIcon-sprite.png);
}

.icon-small-star-4{
    width: 80px;
    height: 18px;
    background-position: -20px -370px;
}

.icon-small-star-4-5{
    width: 80px;
    height: 18px;
    background-position: -175px -370px;
}

.icon-small-star-5{
    width: 80px;
    height: 18px;
    background-position: -5px -370px;
}
