#cart-empty-text{
    margin-top: 21px;
    text-align: center;
}

#cart-ctn-shopping-btn,#cart-proceed-checkout-btn{
    margin-top: 25px;
}

#cart-item-input-orderqty{
    position: relative;
    top: 5px;
    display: inline-block;
    text-align: center;
    width: 30px;
    margin-left: 5px;
}

#cart-item-delete-btn{
    margin-top: 15px;
}